doctype html
html(lang="en" class="text-gray-800 tracking-tight")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="Todas las noticias web de los periodicos y medios de comunicaci칩n m치s importantes nacionales de Espa침a actualizados en tiempo real.")
		link(rel="stylesheet", href="/static/styles.css")
		link(rel="shortcut icon", href="/static/favicon.ico", type="image/x-icon")
		title Noticiasweb.info
	body(class="p-5 mx-auto max-w-4xl")
		header: h1(class="text-4xl text-black mb-3 inline-block underline") Noticiasweb.info
		main(class="flex flex-col gap-5 max-w-4xl justify-center mx-auto")  
			p(class="tracking-tighter font-light") Esta p치gina no existe.
			a(href="/" class="text-blue-600 hover:text-blue-800") volver al inicio 
